= form_with(model: fish, local: true) do |form|
  - if fish.errors.any?
    #error_explanation
      %h2
        = pluralize(fish.errors.count, "error")
        prohibited this fish from being saved:
      %ul
        - fish.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :time
    = form.text_field :time
  .field
    = form.label :value
    = form.number_field :value
  .actions
    = form.submit
