%p#notice= notice
%h1 Fish
%table
  %thead
    %tr
      %th Name
      %th Time
      %th Value
      %th{:colspan => "3"}
  %tbody
    - @fish.each do |fish|
      %tr
        %td= fish.name
        %td= fish.time
        %td= fish.value
        %td= link_to 'Show', fish
        %td= link_to 'Edit', edit_fish_path(fish)
        %td= link_to 'Destroy', fish, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Fish', new_fish_path
